
    
<div class="container p-3 form" style="margin-top: 21% auto; margin-bottom: 2.5%;"> 
        <p class="h2 text-center">About Us</p>
        <hr style="background-color: rgb(255, 153, 0);">

       <p>FLyAce is proud to be one of the youngest global airlines and thanks to our customers response to our offerings, we are also the world’s fastest-growing airline.
        FLyAce is a low-cost carrier (LCC) that aims to make air travel affordable and accessible to the masses. The airline commenced operations in April 2021 with its inaugural flight from Mumbai to Banglore. Since inception, the  airline has flown over 1 million passengers till date. </p>
        
        <p>
            As aviation faces its greatest challenge, we remain committed to ensuring the highest standards of safety and hygiene on board our aircraft at all times. FLyAce Airways is the first global airline in the world to achieve the prestigious 5-Star COVID-19 Airline Safety Rating by international air transport rating organisation, Skytrax. 
            FLyAce operates its business on three basic principles: punctuality, affordability, and convenience
        </p> 
        <p>
            FLyAce currently operates flights across 16 domestic destinations. The airline’s ever-expanding network is spread across major cities in India .
            Our goal is to make FLyAce Airways your airline of choice, offering the flights you want to the destinations you need. It is this which drives our collective mission to achieve ‘Excellence in everything we do’ at all levels across our FLyAce Airways family of highly-skilled and committed professionals, from across the globe. 
        </p> 
        <p>
            On behalf of everyone at FlyAce Airways, we look forward to welcoming you on board, and let us Go Places Together.
        </p>
</div>
        <!--IMAGES-->
<div class="container" style="width: 100%;" >
            <div id="demo" class="carousel slide" data-ride="carousel">
            
                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                </ul>
              
                <!-- The slideshow -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../assets/air1.jpg" alt="Los Angeles">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/air4.jpg" alt="Chicago">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/air5.jpg" alt="New York">
                  </div>
                </div>
              
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              
              </div> 
            </div>
            <!--TABLE-->
<div class="container p-3 form" style="margin-bottom: 2.5%; margin-top: 2%;"> 
        <table class="table table-striped text-center">
            <thead>
              <tr>
                <th colspan="5" style="background-color: rgb(255, 153, 0);;"><p class="text-center ">Domestic Destinations </p></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td ><b>Ahmedabad</b></td>
                <td ><b>Delhi</b></td>
                <td ><b>Indore</b></td>
                <td ><b>Kochi</b></td> 
              </tr>
              <tr>
                <td ><b>Chandigargh</b></td>
                <td ><b>Goa</b></td>
                <td ><b>Kolkata</b></td>
                <td ><b>Mumbai</b></td> 
              </tr>
              <tr>
                <td ><b>Chennai</b></td>
                <td ><b>Guwahati</b></td>
                <td ><b>Jammu</b></td>
                <td ><b>Ranchi</b></td> 
              </tr>
              <tr>
                <td ><b>Banglore</b></td>
                <td ><b>Hyderabad</b></td>
                <td ><b>Lucknow</b></td>
                <td ><b>Srinagar</b></td> 
              </tr>
    
              
            </tbody>
          </table>
      </div> 
      <br>
      <br>
      