.form{
    height: 70%;
    width: 40%;
    margin: 10% auto;
    padding: 10px 20px;
    background: white;
    position:relative;
  text-align:center;
  -webkit-border-radius:20px 20px 20px 20px;
     -moz-border-radius:20px 20px 20px 20px;
          border-radius:20px 20px 20px 20px;
  -webkit-box-shadow: 0px 1px 0px #ad392d, inset 0px 1px 0px white;
     -moz-box-shadow: 0px 1px 0px #ad392d, inset 0px 1px 0px white;
          box-shadow: 0px 1px 0px #ad392d, inset 0px 1px 0px white;
  box-shadow: 10px 10px 15px 5px;
}
