<div class="container mt-2">
    <!--   <div class="card card-block mb-2">
        <h4 class="card-title">Card 1</h4>
        <p class="card-text">Welcom to bootstrap card styles</p>
        <a href="#" class="btn btn-primary">Submit</a>
      </div>   -->
      
  
        <div class="heading">
          <p class="h1">Let's go places together  <i class='fas fa-globe-africa' style='font-size:32px'></i></p>
          <p class="h2">Discover the latest offers and news and start planning your next trip with us.</p>
        </div>
        <div class="row">
        <div class="col-md-3 col-sm-6 item">
          <div class="card item-card card-block">
          <img src="../../assets/chennai.jpg" alt="chennai">
            <h5 class="item-card-title mt-3 mb-3" style="text-align: center;"><strong>Chennai</strong></h5>
            <p class="card-text">It's time to rediscover Chennai.Fly now via Flyace .Deals starting at Rs.4000*</p> 
          <p><button class="btn" routerLink="">Book now</button></p>
          </div>
        </div>
       
        <div class="col-md-3 col-sm-6 item">
          <div class="card item-card card-block">
         <img src="../../assets/jaisalmer.jpg" alt="jaisalmer">
        <h5 class="item-card-title mt-3 mb-3" style="text-align: center;"><strong>jaisalmer</strong></h5>
       <p class="card-text">Enjoy the marvellous forts and Architecture and sand dunes.Deals starting at Rs.4500*</p> 
       <p><button class="btn" routerLink="">Book now</button></p>
      </div>
        </div>
  
        <div class="col-md-3 col-sm-6 item">
          <div class="card item-card card-block">
        <img src="../../assets/kolkata.jpg" alt="kolkata">
        <h5 class="item-card-title mt-3 mb-3" style="text-align: center;"><strong>kolkata</strong></h5>
            <p class="card-text">It's time to see the city of bridges.Fly now via Flyace .Deals starting at Rs.4000*</p> 
               
      <p><button class="btn" routerLink="">Book now</button></p>
      </div>
        </div>
        <div class="col-md-3 col-sm-6 item">
          <div class="card item-card card-block">
        <img src="../../assets/mumbai.jpg" alt="mumbai">
        <h5 class="item-card-title mt-3 mb-3" style="text-align: center;"><strong>mumbai</strong></h5>
            <p class="card-text">It's time to rediscover Mumbai.Fly now via Flyace .Deals starting at Rs.4000*</p> 
            <p><button class="btn" routerLink="">Book now</button></p>
      </div>
        </div>    
      </div>
      
    </div>
 